
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* CONTENT 1 */
.cont-content {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 20px;
}

.content-1 {
    margin: 30px;
}

.content-ul-1 {
    color: #fff;
    padding-left: 30px;
}

/* CONTENT 1 END */

/* CONTENT 2 */
.cont-content-2 {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px;
    margin-right: 90px;
    margin-left: 90px;
    border-radius: 20px;
}

.content-ul-2 {
    color: #fff;
    margin:30px;
}

h3 {
    text-align: center;
}
/* CONTENT 2 END */

/* PRODUCT */
.cont {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.cont-1 {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    color:#fff;
    width: 100px auto;
    height: 100px auto;
}

.foot {
    background-color: #333;
    text-align: center;
}

.cont-2 {
    color: #fff;
    text-decoration: none;
    padding: 30px;
}

a {
    text-decoration: none;
    color :#fff;
}

.h1-1 {
    margin: 20px;
}

img {
    height: auto;
    width:500px;
    border-radius: 10px;
}

.p-1 {
    margin: 20px;
    margin-top: -10px;
}

.p-2 {
    margin-top: -10px;
}
/* PRODUCT */